html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 60px;
  background-color: #FEFDFA;
}


a {
    text-decoration: none;
    color:#D00000;
  }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #F0F0F0;
}

/*.navbar-custom {background-color="#FFFFFF"}*/
